/* div 1个 */
div{
    border-style: dotted;
    border-width: 1px;
    text-align: center;
  }
  
  /* css class class 是 .balabala  5个 */
  
  /* index */
  .aboutme{
    /* background-color: lightblue; */
    text-align: center;
    
  }
  
  .myhobby{
    text-align: center;
  }
  
  .horsepic{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .milkyway{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* past */
  .myskillandHobbiestable{
    color: #a5a5a5;
  }
  
  
  .detailofemployment{
      text-align: center;
  }
  
  
  
  /* future */
  .myfuture{
      text-align: center;
  }
  
  /* Comments */
  
  .mobiledevice{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .colour {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
  }
  
  
  /* css ID ID 是 #balabala  1个 */
  #header {
    background-color: #595959;  
    color: white;
    padding: 40px;
    text-align: center;
  } 
  
  
  /*All the Texts*/
  body {
    background-color: #cccccc;
  }
  
  h2 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }
  
  h4 {
    text-align: center;
  }
  
  pre{
    text-align: center;
  }
  
  ul{
    list-style-position: inside;
    text-align: center;
  }
  /* Links */
  a:link {
    color: #595959;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #595959;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #a5a5a5;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #FCF68D;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .myskillandHobbiestable{
    color: #a5a5a5;
  }
  
  a:my{
      text-align: right;
  }
  
  /* Table */
  table{
      border:1px solid black;
      margin-left:auto;
      margin-right:auto;
  }
  
  th {
    background-color: #7f7f7f;
    
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  
  span {
      color: red;
  }
  
  
  